*{margin:0;padding:0;border:0;}

body{
	font-family:Arial,Helvetica,sans-serif;
	font-size:13px;
	/*text-shadow:1px 1px #fff;*/
}
/*===	The Poll	===*/
.pollData #links{
	margin:0 auto;
	padding-left:15px;
	padding-bottom:10px;
}
.pollData h3{
	text-align:center;
}
.pollData #left{
	float:left;
}

.pollData #logout{
	cursor:pointer;
	color:#888;
}

.pollData #logout:hover{
	text-decoration:underline;
	font-weight:bold;
}

.pollData .btn:hover {
	background-image: url('../images/but-over-hover.png');
}

.pollData .btn:active {
	top:1px;
	left:1px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.7);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.7);
	outline:none;
}

.pollData input.txtInp,.pollData textarea.txtInp,.pollData select {
	
	background:#fff;
	-moz-box-shadow:1px 1px 3px rgba(0,0,0,0.2) inset;
	-webkit-box-shadow:1px 1px 3px rgba(0,0,0,0.2) inset;
	box-shadow:1px 1px 3px rgba(0,0,0,0.2) inset;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	padding:5px;
	margin:5px;
}

.pollData input.s{
	width:40px;
}

.iSelect {
	background: url('../images/iSelect.png') right top no-repeat;
	width:88px;
	height:16px;
	display:inline-block;
	padding: 3px 10px 5px 10px;
	outline:0;
	overflow:hidden;
	white-space:nowrap;
	position:relative;
	top:10px;
}

.iSelect:hover{	background: url('../images/iSelect.png') right -24px; }
.iSelect:active{ background: url('../images/iSelect.png') right -48px; }
.iSelect img,.dropDown img { padding-bottom:3px; }
.dropDown { 
	display:none;
	padding:5px;
	width:95px;
	border: solid 1px #bbb;
	position:absolute;
	background:#eee;
	z-index:10;
	clear:both;
}

.langz:hover{
	font-weight:bold;
}

.pollData select{
	width:150px;
}

.pollData input.txtInp:focus,.pollData textarea.txtInp:focus,.pollData select:focus{
	-moz-box-shadow:1px 1px 3px rgba(0,0,0,0.4) inset,0px 0px 3px rgba(0,0,0,0.2);
	-webkit-box-shadow:1px 1px 3px rgba(0,0,0,0.4) inset,0px 0px 3px rgba(0,0,0,0.2);
	box-shadow:1px 1px 3px rgba(0,0,0,0.3) inset,0px 0px 3px rgba(0,0,0,0.2);
	border:1px solid #bbb;
}

#tdInputs{
width :500px;
}

.pollData a {
	/*text-decoration:none;*/
	/*color:#abd;*/
	cursor:pointer;
}
.pollData a.float {
	float:right;
	text-decoration:none;
	color:#444;
}

.pollData a img {
	vertical-align:text-bottom;
}

.pollData a:hover {
	color:#000;
}

.pollWrapper{
	margin:50px auto;/*to b removed*/
	width:300px;
	border:1px solid #ccc;
	background:#eee;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	overflow:hidden;
}

.pollData{
	padding:5px;
	margin:5px;
}

.loader{ 
	padding-bottom:10px;
	display:none;
	text-align:center;
}

#pollform label {cursor:pointer;}

#pollform input {margin-top:-20px; margin-left:20px; }

.loader img {
	vertical-align:middle;
	margin-right:2px;
}

.submitVote{
	background:#ddd;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;padding:5px;
	margin:-10px 0 0 20px;border:1px solid #ccc;
	cursor:pointer;-moz-border-radius:3px;
	-webkit-border-radius:3px;border-radius:3px;
	border:1px solid #bbb;
	background-color:#eee;
	background-image:-moz-linear-gradient(0% 100% 90deg,#ddd,#eee);
	background-image:-webkit-gradient(linear,0% 0,0% 100%,from(#eee),to(#ddd));
	-moz-box-shadow:0 1px 0 #fff,0 1px 0 rgba(255,255,255,0.5) inset;
	-webkit-box-shadow:0 1px 0 #fff,0 1px 0 rgba(255,255,255,0.5) inset;
	box-shadow:0 1px 0 #fff,0 1px 0 rgba(255,255,255,0.5) inset;
}

.submitVote:hover{
	background-color:#e3e3e3;background:-moz-linear-gradient(0% 100% 90deg,#eee,#ddd);
	background-image:-webkit-gradient(linear,0% 0,0% 100%,from(#ddd),to(#eee));
	-moz-box-shadow:0 1px 0 #fff,0 1px 0 rgba(255,255,255,0.5) inset;
	-webkit-box-shadow:0 1px 0 #fff,0 1px 0 rgba(255,255,255,0.5) inset;
	box-shadow:0 1px 0 #fff,0 1px 0 rgba(255,255,255,0.5) inset;
	
}

.option{ margin:5px 0; }
.option p{ line-height:1.1em; font-size:95%; margin-bottom:3px;}
.bar{ 
	height:17px; 
	background: #3399cc;
	background-image: url('../images/but-over-hover.png');
	background-repeat:repeat-x;
	
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}
.yourvote{ background:#19668d url('../images/but-over-hover.png') repeat-x; }
.pollStats{color:#7a7a7a;}
.pollques {font-weight:bold;}

.radRep,.chkRep{
	background: url(../images/radio-1.png) no-repeat;
	cursor:pointer;
	clear: left;
	float:left;
	position:relative;
	top:-3px;
	margin-right:5px;
	width:20px;
	height:20px;
}
.chkRep{
	background: url(../images/check-1.png) no-repeat;
}

label{ clear:both; cursor:pointer; }
p {margin-bottom:10px;}
.radRep.checked,.chkRep.checked{
	background-position:0 -50px ;
	background-repeat:no-repeat;
}
.radRep.checked:hover,.chkRep.checked:hover{
	background-position:0 -75px ;
	background-repeat:no-repeat;
	
}
.radRep:hover,.chkRep:hover{
	background-position:0 -25px ;
	background-repeat:no-repeat;
}

.radRep:active,.chkRep:active{
	background-position:0 -75px ;
	background-repeat:no-repeat;
}
.newPoll,.editPoll,.delPoll,.newArea,.editArea,.delArea,.nimda_set,.nimda_logDet,.design,.stats,.csv,.xml,.pdf{
	display:none;
}
.adBtn img {
	display:block;
	margin:0 auto;
	margin-bottom:5px;
}
.adBtn {
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #bbb;
	background-color:#eee;
	background-image:-moz-linear-gradient(0% 100% 90deg, #ddd, #eee);
	background-image:-webkit-gradient(linear,0% 0%, 0% 100%, from(#eee), to(#ddd));
	-moz-box-shadow:0 1px 0 #FFFFFF, 0 1px 0 rgba(255, 255, 255, 0.5) inset;
	-webkit-box-shadow:0 1px 0 #FFFFFF, 0 1px 0 rgba(255, 255, 255, 0.5) inset;
	box-shadow:0 1px 0 #FFFFFF, 0 1px 0 rgba(255, 255, 255, 0.5) inset;
	padding:10px;
	display:block;
	float:left;
	clear:right;
	width:50px;
	text-align:center;
	font-size:10px;
	margin:5px;
}
.adBtn:hover{
	background-color:#e3e3e3;
	background:-moz-linear-gradient(0% 100% 90deg, #eee, #ddd);
	background-image:-webkit-gradient(linear,0% 0%, 0% 100%, from(#ddd), to(#eee));
	-moz-box-shadow:0 1px 0 #FFFFFF, 0 1px 0 rgba(255, 255, 255, 0.5) inset;
	-webkit-box-shadow:0 1px 0 #FFFFFF, 0 1px 0 rgba(255, 255, 255, 0.5) inset;
	box-shadow:0 1px 0 #FFFFFF, 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}

.link{
	text-shadow:1px 1px 0 #fff;
	color:#222;
	border-bottom:1px dotted #666;
	margin:3px;
	display:inline-block;
}
.link:hover {
	color:#000;
	font-weight:bold;
	border-bottom:none;
}

 .qList,.delList,.statList,.csvList,.xmlList,.pdfList{
 	margin-left:20px;
 	display:list-item;
 	margin-bottom:-15px;
 }
 
 .qList:hover,.delList:hover,.statList:hover,.csvList:hover,.xmlList:hover,.pdfList:hover{
 	font-weight:bold;
 }

#buttonStyle .image{
	padding-left:10px;
}

#ip{
	margin : 0 auto;
}

#ip .time{
	padding-left:15px;
	text-align:center;
}

#ip .ip{
	padding-left:15px;
	text-align:center;
}

.byCountry{
	margin:0 auto;
}

.flag{
	margin:0 4px;
}

.country, .people{
	font-size:10px;
	padding:2px;
}

.country{
	width:85px;
	overflow:hidden;
}

.people{
	font-weight:bold;
}

.msgLayout{
	display:block;
	padding:10px;
	margin-bottom:10px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	position:relative;
	text-shadow:1px 1px #EDECEC;
}
.doneMsg {
	background:#dbf6c4;
	border:1px solid #a7c58e;
}
.errorMsg {
	background:#f6c4c4;
	border:1px solid #c58e8e;
}

.autocomplete-w1 { position:absolute; top:0px; left:0px; margin:0;  }
.autocomplete { border:1px solid #999; background:#FFF; cursor:default; text-align:left; max-height:350px; overflow:auto; margin:0;
	border-radius: 4px; border:2px solid #27BDFF;}
.autocomplete .selected { background:#F0F0F0; }
.autocomplete div { padding:2px 5px; white-space:nowrap; }
.autocomplete strong { font-weight:normal; color:#3399FF; }

/*===	 the layout 	===*/
.cs {
	position: relative;
	width: 36px;
	height: 36px;
	background: url(../images/cp/select2.png);
}
.cs div {
	position: absolute;
	top: 3px;
	left: 3px;
	width: 30px;
	height: 30px;
	background: url(../images/cp/select2.png) center;
}
#colorpickerHolder2 {
	top: 32px;
	left: 0;
	width: 356px;
	height: 0;
	overflow: hidden;
	position: absolute;
}
#colorpickerHolder2 .colorpicker {
	background-image: url(../images/cp/custom_background.png);
	position: absolute;
	bottom: 0;
	left: 0;
}
#colorpickerHolder2 .colorpicker_hue div {
	background-image: url(../images/cp/custom_indic.gif);
}
#colorpickerHolder2 .colorpicker_hex {
	background-image: url(../images/cp/custom_hex.png);
}
#colorpickerHolder2 .colorpicker_rgb_r {
	background-image: url(../images/cp/custom_rgb_r.png);
}
#colorpickerHolder2 .colorpicker_rgb_g {
	background-image: url(../images/cp/custom_rgb_g.png);
}
#colorpickerHolder2 .colorpicker_rgb_b {
	background-image: url(../images/cp/custom_rgb_b.png);
}
#colorpickerHolder2 .colorpicker_hsb_s {
	background-image: url(../images/cp/custom_hsb_s.png);
	display: none;
}
#colorpickerHolder2 .colorpicker_hsb_h {
	background-image: url(../images/cp/custom_hsb_h.png);
	display: none;
}
#colorpickerHolder2 .colorpicker_hsb_b {
	background-image: url(../images/cp/custom_hsb_b.png);
	display: none;
}
#colorpickerHolder2 .colorpicker_submit {
	background-image: url(../images/cp/custom_submit.png);
}
#colorpickerHolder2 .colorpicker input {
	color: #778398;
}
#customWidget {
	position: relative;
	height: 36px;
}
#wrap-admin a{
	color: #000;
	text-decoration: none;
}

#wrap-admin{
	width:400px;
}
/*===		the color picker	===*/

.colorpicker {
	width: 356px;
	height: 176px;
	overflow: hidden;
	position: absolute;
	background: url(../images/cp/custom_background.png);
	font-family: Arial, Helvetica, sans-serif;
	display: none;
}
.colorpicker_color {
	width: 150px;
	height: 150px;
	left: 14px;
	top: 13px;
	position: absolute;
	background: #f00;
	overflow: hidden;
	cursor: crosshair;
}
.colorpicker_color div {
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 150px;
	background: url(../images/cp/colorpicker_overlay.png);
}
.colorpicker_color div div {
	position: absolute;
	top: 0;
	left: 0;
	width: 11px;
	height: 11px;
	overflow: hidden;
	background: url(../images/cp/custom_select.gif);
	margin: -5px 0 0 -5px;
}
.colorpicker_hue {
	position: absolute;
	top: 13px;
	left: 171px;
	width: 35px;
	height: 150px;
	cursor: n-resize;
}
.colorpicker_hue div {
	position: absolute;
	width: 35px;
	height: 9px;
	overflow: hidden;
	background: url(../images/cp/custom_indic.gif) left top;
	margin: -4px 0 0 0;
	left: 0px;
}
.colorpicker_new_color {
	position: absolute;
	width: 60px;
	height: 30px;
	left: 213px;
	top: 13px;
	background: #f00;
}
.colorpicker_current_color {
	position: absolute;
	width: 60px;
	height: 30px;
	left: 283px;
	top: 13px;
	background: #f00;
}
.colorpicker input {
	background-color: transparent;
	border: 1px solid transparent;
	position: absolute;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	color: #898989;
	top: 4px;
	right: 11px;
	text-align: right;
	margin: 0;
	padding: 0;
	height: 11px;
}
.colorpicker_hex {
	position: absolute;
	width: 72px;
	height: 22px;
	background: url(../images/cp/custom_hex.png) top;
	left: 212px;
	top: 142px;
}
.colorpicker_hex input {
	right: 6px;
}
.colorpicker_field {
	height: 22px;
	width: 62px;
	background-position: top;
	position: absolute;
}
.colorpicker_field span {
	position: absolute;
	width: 12px;
	height: 22px;
	overflow: hidden;
	top: 0;
	right: 0;
	cursor: n-resize;
}
.colorpicker_rgb_r {
	background-image: url(../images/cp/custom_rgb_r.png);
	top: 52px;
	left: 212px;
}
.colorpicker_rgb_g {
	background-image: url(../images/cp/custom_rgb_g.png);
	top: 82px;
	left: 212px;
}
.colorpicker_rgb_b {
	background-image: url(../images/cp/custom_hsb_b.png);
	top: 112px;
	left: 212px;
}
.colorpicker_hsb_h {
	background-image: url(../images/cp/custom_hsb_h.png);
	top: 52px;
	left: 282px;
}
.colorpicker_hsb_s {
	background-image: url(../images/cp/custom_hsb_s.png);
	top: 82px;
	left: 282px;
}
.colorpicker_hsb_b {
	background-image: url(../images/cp/custom_hsb_b.png);
	top: 112px;
	left: 282px;
}
.colorpicker_submit {
	position: absolute;
	width: 22px;
	height: 22px;
	background: url(../images/cp/custom_submit.png) top;
	left: 322px;
	top: 142px;
	overflow: hidden;
}
.colorpicker_focus {
	background-position: center;
}
.colorpicker_hex.colorpicker_focus {
	background-position: bottom;
}
.colorpicker_submit.colorpicker_focus {
	background-position: bottom;
}
.colorpicker_slider {
	background-position: bottom;
}