html, body { font-family: arial, sans-serif; }
.notebar {
  padding: 5px;
  background: #dcffe3;
  border: 1px solid #76bd84;
  margin-bottom: 10px;
}
#pollWRAP {
  padding: 10px;
  background: #f2f2f2;
  border: 1px solid #ccc;
}
#pollQN {
  font-weight: bold;
  margin-bottom: 10px;
}
#pollOPT label {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}
.votes {
  display: inline-block;
  width: 15px; height: 15px;
  border-radius: 50%;
  padding: 5px;
  text-align: center;
  background: #ef3333;
  color: #fff;
}